<!DOCTYPE html>
<html>
<head>
    <title>Pets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
</head>
<body>

<h1>Ljubljenčki</h1>

<a href="/add3">+ Dodaj</a>

<hr>

{% for pet in pets %}

<div class="pet-card">

    <h3>{{ pet.name }}</h3>

    <p>{{ pet.type }}</p>

    <p>{{ pet.status }}</p>

    {% if pet.image %}
        <img src="{{ pet.image }}" width="200">
    {% endif %}

    <br>

    <a href="/pet3/{{ pet.doc_id }}">Poglej</a>

    {% if pet.owner == session["user"] %}
        <a href="/delete3/{{ pet.doc_id }}">Izbriši</a>
    {% endif %}

</div>

{% endfor %}

</body>
</html>