<!DOCTYPE html>
<html>
<head>
    <title>Detail</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
</head>
<body>

<h1>{{ pet.name }}</h1>

<p><b>Vrsta:</b> {{ pet.type }}</p>
<p><b>Status:</b> {{ pet.status }}</p>
<p><b>Opis:</b> {{ pet.description }}</p>
<p><b>Telefon:</b> {{ pet.phone }}</p>

{% if pet.image %}
    <img src="{{ pet.image }}" width="300">
{% endif %}

<hr>

<h3>Komentarji</h3>

{% for c in pet.comments %}
    <p>💬 {{ c }}</p>
{% endfor %}

<form method="POST" action="/comment3/{{ pet.doc_id }}">
    <input name="comment" placeholder="Napiši komentar">
    <button>Dodaj komentar</button>
</form>

<a href="/dashboard3">Nazaj</a>

</body>
</html>