<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}"></head>
<body>

<h1>Objave</h1>

<form method="POST" action="/add2">
    <input name="text" placeholder="Napiši objavo" required>
    
    <br><br>
    
    <input name="image_url" placeholder="URL slike (optional)">
    
    <br><br>
    
    <button>Objavi</button>
</form>

<hr>

<ul>
    {% for p in posts %}
        <li>
            {{ p.user }}: {{ p.text }}

            {% if p.image %}
                <br>
                <img src="{{ p.image }}" width="200">
            {% endif %}
        </li>
    {% endfor %}
</ul>

</body>
</html>